body {
    font-family: 'Baloo 2', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    color: #242635;
    height: 100vh;
    width: 100%;
    max-width: 1440px ;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px 50px;
    max-width: 1440px;
    width: 100%;
}

.logo {
    font-family: 'Baloo 2';
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    width: 100%;
    max-width: 1440px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 30px;
}

.meatball-menu {
    display: none;
}

.section1-home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.heading-home {
    font-family: 'Poppins', sans-serif;
    font-size: 90px;
    font-weight: 500;
    line-height: 102px;
}

.paragraph1-home {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 33px;
    width: 410px;
}



@media (max-width: 768px) {
    
    .container {
        max-width: 768px;
        width: 100%;
    }

    nav {
        max-width: 768px;
        width: 100%;
        justify-content: space-around;
    }

    .section1-home {
        flex-direction: column;
        justify-content: center;
    }

    .paragraph1-home {
        text-align: center;
        margin-bottom: 45px;
    }

    .image-home {
        max-width: 617px;
        max-height: 512px;
        width: 100%;
    }
}

@media (max-width: 320px) {
    
    .container {
        max-width: 320px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        overflow: hidden;
    }

   

    nav {
        max-width: 320px;
        width: 100%;
        justify-content: flex-start;
    }

    ul {
        display: none;
    }

    .meatball-menu {
        position: absolute;
        display: block;
        top: 70px;
        left: 300px;
        
    }

    .section1-home {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }

    .heading-home {
        text-align: center;
        font-size: 36px;
        line-height: 40px;
    }

    .paragraph1-home {
        text-align: center;
        margin-bottom: 45px;
        font-size: 12px;
        line-height: 18px;
        width: 211px;
    }

    .image-home {
        max-width: 256px;
        max-height: 284px;
        width: 100%;
    }
}





